{% extends "layout.html" %}
<h1>{{title}}</h1>
<p>Paragraph</p>
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
<div class="container-fluid">
  <div class='event_div'>
  <hr>
  <h3>{{ title }}</h3>
  <hr>
  {% if notification_logs.items %}
  <div style="height:300px;overflow:auto;">
  <table style="height: 100%; width:100%;">
      <thead>
      <tr>
          <th>ID</th>
          <th>Alert ID</th>
          <th>Message</th>
          <th>Sensor</th>
          <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>
      {% for log in notification_logs.items %}
          <tr>
              <td>{{ log.id }}</td>
              <td>{{ log.notification_alert_id }}</td>
              <td>{{ log.message }}</td>
              <td>
                <a href="{{ url_for('main_blueprint.edit_sub', id=log.alert_rule.topic_id) }}">{{ log.alert_rule.topic_id }}:{{ log.address }}</a>
              </td>      
              <td>{{ log.timestamp }}</td>
              <td>
                <a class='btn-sm btn-danger px-2' href="{{ url_for('main_blueprint.delete_log', id=log.id) }}">DELETE</a>
              </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
  </div>
  {{ macros.paginate_macro(notification_logs, 'main_blueprint.home')}}

  {% else %}
  <p id='no_notifications' class="lead">No Alert logs</p>
  {% endif %}
  </div>
  </div>
<script>
</script>
{% endblock %}
