{% extends "layout.html" %}
<h1>{{title}}</h1>
<p>Paragraph</p>
{% block content %}
<div class="container-fluid">
  <div class='event_div'>
  <hr>
  <h3>{{ title }}</h3>
  <hr>
  {% if notification_logs.items %}
  <form action="{{ url_for('main_blueprint.delete_logs', id=id) }}" method="POST">
    <div>
      <div class="opacity-100">
          <button class="btn btn-sm float-end" disabled>&nbsp;</button>
      </div>
      <button type="submit" class="btn btn-sm btn-danger" id="delete-selected" style="display: none">Delete</button>
  </div>
    <table class="table table-primary table-striped table-hover table-bordered">
      <thead>
      <tr>
          <th>
              <input type="checkbox" name="select_all">
          </th>
          <th>ID</th>
          <th>Alert ID</th>
          <th>Message</th>
          <th>Sensor</th>
          <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>
      {% for log in notification_logs.items %}
          <tr>
              <td><input type="checkbox" name="log_id" value="{{ log.id }}"></td>
              <td>{{ log.id }}</td>
              <td>{{ log.notification_alert_id }}</td>
              <td>{{ log.message }}</td>
              <td>
                <a href="{{ url_for('main_blueprint.edit_sub', id=log.alert_rule.topic_id) }}">{{ log.alert_rule.topic_id }}:{{ log.address }}</a>
              </td>      
              <td>{{ log.timestamp }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
  </form>
  {{ macros.paginate_macro(notification_logs, 'main_blueprint.home')}}

  {% else %}
  <p id='no_notifications' class="lead">No Alert logs</p>
  {% endif %}
  </div>
  </div>
{% if notification_logs.items %}
<script>
const checkboxes = document.querySelectorAll("input[name=log_id]");
const deleteButton = document.querySelector("#delete-selected");
const selectAllCheckbox = document.querySelector("input[name=select_all]");

deleteButton.addEventListener("click", function(e) {
    const proceed = confirm(`Are you sure you want to delete it?`);
    if (proceed) {
    } else {
        e.preventDefault();
    }
})

selectAllCheckbox.addEventListener("change", function() {
    checkboxes.forEach(function(checkbox) {
        checkbox.checked = selectAllCheckbox.checked;
    });
    if (selectAllCheckbox.checked) {
        deleteButton.style.display = "block";
    } else {
        deleteButton.style.display = "none";
    }
});
selectAllCheckbox.addEventListener("change", function() {
    if (!selectAllCheckbox.checked) {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = false;
        });
        deleteButton.style.display = "none";
    }
});
checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
        const checkedCount = document.querySelectorAll("input[name=log_id]:checked").length;
        if (checkedCount > 0) {
            deleteButton.style.display = "block";
        } else {
            deleteButton.style.display = "none";
        }
        if (checkedCount == checkboxes.length) {
            selectAllCheckbox.checked = true;
        } else {
            selectAllCheckbox.checked = false;
        }
    });
});
</script>
{% endif %}
{% endblock %}
