{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">

{% if not topics%}
<p id='no_notifications' class="lead">No MQTT Data available</p>
{% else %}
<hr>
<h3>{{ title }}</h3>
<hr>
<section id="filter">
    <b>Filters:</b>
    <div class="filters">
        <label for="datetime_from">Datetime from:</label>
        {% if request.args.get('dt_from') %}
        <input type="date" id="datetime_from" name="datetime_from" value="{{ request.args.get('dt_from') }}">
        {% else %}
        <input type="date" id="datetime_from" name="datetime_from">
        {% endif %}

        {% if request.args.get('dt_to') %}
        <input type="date" id="datetime_to" name="datetime_to" value="{{ request.args.get('dt_to') }}">
        {% else %}
        <input type="date" id="datetime_to" name="datetime_to">
        {% endif %}
        <label for="topic_ids">Topic IDs:</label>
        <select name="topic_ids" id="topic_ids">    
          {% if not id %}
            {% if request.args.get('topic_id') == 'All' or request.args.get('topic_id') == None %}
                <option value="All" selected>All</option>
            {% else %}
                <option value="All">All</option>
            {% endif %}
            {% if subs %}
                {% for s in subs %}
                    {% if request.args.get('topic_id') | int == s.id %}
                        <option value="{{ s.id }}" selected>{{ s.id }}:{{s.address}}</option>
                    {% else %}
                        <option value="{{ s.id }}">{{ s.id }}:{{s.address}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
          {% else %}
            {% if request.args.get('topic_id') | int == id %}
                <option value="{{ id }}" selected>{{ id }}</option>
            {% else %}
                <option value="{{ id }}">{{ id }}</option>
            {% endif %}
          {% endif %}
          </select>
        <button id="btn_set_filter" class="btn text-decoration-underline btn-primary">Set</button>
        <button id='btn_export_csv' class="btn text-decoration-underline btn-primary" type="submit" value="Export CSV">Export CSV <span id="loading_spinner" class="spinner-border spinner-border-sm d-none"></span></button>
        <a id="csv_link" href="" hidden>Download CSV</a>
    </div>
</section>
<form action="{{ url_for('main_blueprint.delete_topic') }}" method="POST">
    <div>
        <div class="opacity-100">
            <button class="btn btn-sm float-end" disabled>&nbsp;</button>
        </div>
        <button type="submit" class="btn btn-sm btn-danger" id="delete-selected" style="display: none">Delete</button>
    </div>
    <table class="table table-primary table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>
            {% if topics.items %}
                <input type="checkbox" name="select_all">
            {% endif %}
            </th>
            <th>ID</th>
            <th>Topic ID</th>
            <th>Topic</th>
            <th>Value</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics.items %}
        <tr>
            <td><input type="checkbox" name="topic_id" value="{{ topic.id }}"></td>
            <td>{{ topic.id }}</td>
            <td><a href="/subs/{{ topic.topic_id }}/edit">{{ topic.topic_id }}</a></td>
            <td><a href="/subs/{{ topic.topic_id }}/edit">{{ topic.topic }}</a></td>
            <td>{{ topic.value }}</td>
            <td class="topic_timestamp">{{ topic.timestamp.strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
      
    {# {% if topics.has_prev %}
        <a href="{{ url_for('main_blueprint.get_topics', page=1) }}">&laquo; first</a>
        <a href="{{ url_for('main_blueprint.get_topics', page=topics.prev_num) }}">{{topics.prev_num}}</a>
    {% else %}

    {% endif %} | 
    {% if topics.has_next %}
        <a href="{{ url_for('main_blueprint.get_topics', page=topics.next_num) }}">{{topics.next_num}}</a>
        <a href="{{ url_for('main_blueprint.get_topics', page=topics.pages) }}">last &raquo;</a>
    {% else %}

    {% endif %} #}
    
    {% if id %}
       {{ macros.paginate_extra_args_id(topics, 'main_blueprint.get_sub_mqtt_logs', id)}}
    {% else %}
        {{ macros.paginate_extra_args(topics, 'main_blueprint.get_topics')}}
    {% endif %}

{% endif %}
</div>
<script>
const checkboxes = document.querySelectorAll("input[name=topic_id]");
const deleteButton = document.querySelector("#delete-selected");
const selectAllCheckbox = document.querySelector("input[name=select_all]");
const datetime_from = document.getElementById("datetime_from");
const datetime_to = document.getElementById("datetime_to");
const btn_set_filter = document.getElementById('btn_set_filter');
const btn_export_csv = document.getElementById('btn_export_csv');
const a_csv_link = document.getElementById('csv_link');

function convertUTCToLocal(timestamp) {
    // Check if there is 'Z' at the end, if not add it
    if (timestamp.slice(-1) !== 'Z') {
        timestamp += 'Z';
    }

    const date = new Date(timestamp);
    const localTimeString = date.toLocaleString();
    return localTimeString;
}

const timestampElement = document.querySelectorAll('.topic_timestamp');

timestampElement.forEach(function(element) {
    const utcTimestamp = element.textContent;
    const localTimeString = convertUTCToLocal(utcTimestamp);
    element.textContent = localTimeString;
});


deleteButton.addEventListener("click", function(e) {
    const proceed = confirm(`Are you sure you want to delete it?`);
    if (proceed) {
    } else {
        e.preventDefault();
    }
})

if (selectAllCheckbox != null)
{
    selectAllCheckbox.addEventListener("change", function() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = selectAllCheckbox.checked;
        });
        if (selectAllCheckbox.checked) {
            deleteButton.style.display = "block";
        } else {
            deleteButton.style.display = "none";
        }
    });
    selectAllCheckbox.addEventListener("change", function() {
        if (!selectAllCheckbox.checked) {
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
            deleteButton.style.display = "none";
        }
    });
}

checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
        const checkedCount = document.querySelectorAll("input[name=topic_id]:checked").length;
        if (checkedCount > 0) {
            deleteButton.style.display = "block";
        } else {
            deleteButton.style.display = "none";
        }
        if (checkedCount == checkboxes.length) {
            selectAllCheckbox.checked = true;
        } else {
            selectAllCheckbox.checked = false;
        }
    });
});


btn_set_filter.addEventListener('click', function() {
  var topic_id = document.getElementById("topic_ids").value;
  
  var params = new URLSearchParams(window.location.search);
  if (datetime_from.value !== "") {
    params.set("dt_from", datetime_from.value);
  } else {
    params.delete("dt_from");
  }
  if (datetime_to.value !== "") {
    params.set("dt_to", datetime_to.value);
  } else {
    params.delete("dt_to");
  }
  if (topic_id !== "All") {
    params.set("topic_id", topic_id);
  } else {
    params.delete("topic_id");
  }
  
  params.delete("page")
  window.location.search = params.toString();
})



btn_export_csv.addEventListener('click', async function() {
    console.log("export csv");
    let topic_id = document.getElementById("topic_ids").value;
    btn_export_csv.setAttribute('disabled', 'true');
    document.getElementById("loading_spinner").classList.remove("d-none");
    // To prevent sending huge amounts of data and hanging up the server, we can only export up to 365 days of data. 
    if (datetime_from.value === "" || datetime_to.value === "") {
      alert("Please select a date range no more than 365 days apart.");
      btn_export_csv.removeAttribute('disabled')
      document.getElementById("loading_spinner").classList.add("d-none");
      return;
    }

    let dt_from = new Date(datetime_from.value);
    let dt_to = new Date(datetime_to.value);
    let diff = Math.abs(dt_to - dt_from);
    let diff_days = Math.ceil(diff / (1000 * 60 * 60 * 24));
    if (diff_days > 365) {
      alert("You can only export up to 365 days of data. Please select a smaller date range.");
      btn_export_csv.removeAttribute('disabled')
      document.getElementById("loading_spinner").classList.add("d-none");
      return;
    }

    let result = await exportCSV(topic_id, datetime_from.value, datetime_to.value)
    document.getElementById("loading_spinner").classList.add("d-none");
    btn_export_csv.removeAttribute('disabled')
  })


  async function exportCSV(topic_id, dt_from, dt_to)
  {
    try{
      let URLParams = new URLSearchParams(window.location.search);

      URLParams.set("topic_id", topic_id);
      if (topic_id !== "" || topic_id !== "All") {
        URLParams.set("topic_id", topic_id);
      } else {
        URLParams.delete("topic_id");
      }

      if (dt_from !== "") {
        URLParams.set("dt_from", dt_from);
      } else {
        URLParams.delete("dt_from");
      }

      if(dt_to !== "") {
        URLParams.set("dt_to", dt_to);
      } else {
        URLParams.delete("dt_to");
      }
      const response = await fetch(`/topics/export?${URLParams.toString()}`, { method: 'GET', headers: { 'Content-Type': 'text/csv; charset=utf-8' } });
      if(response.status != 200)
      {
        a_csv_link.textContent = "No data to export";
        a_csv_link.setAttribute('href', '#');
        a_csv_link.removeAttribute('hidden')
        return null;
      }
      a_csv_link.textContent = "Download CSV";

      const blob = await response.blob();
      const url = window.URL.createObjectURL(new Blob([blob]));

      a_csv_link.setAttribute('href', url);
      a_csv_link.removeAttribute('hidden')
    }catch (err) {
      console.error(err);
      return null;
    }
  }

</script>
{% endblock %}

